<h1>{{paginaActual().titulo}}</h1>

<div style="text-align: center" class="callout callout-default">

    <h2 style="text-align: left">Deberá contener lo siguiente: </h2>

    <div class="actaSeleccionAnimate bgNaranja with-padding block-inner">
        Cuándo y dónde se realizó cada una de las entrevistas
    </div>

    <div class="actaSeleccionAnimate bg-info with-padding block-inner">
        Su carácter: personal, telefónico o videoconferencia
    </div>

    <div class="actaSeleccionAnimate bgNaranja with-padding block-inner">
        La información suministrada a los postulantes
    </div>

    <div class="actaSeleccionAnimate bg-info with-padding block-inner">
        Breve resumen para cada candidato de lo recabado,
        considerando los cinco rubros indicados en la Guía de Entrevista
        (no se aceptarán Actas que no incluyan dichos resúmenes).
    </div>

    <div class="actaSeleccionAnimate bgNaranja with-padding block-inner">
        El orden de mérito definitivo.
    </div>

    <div class="actaSeleccionAnimate bg-info with-padding block-inner">
        El nombre, apellido y DNI del seleccionado.
    </div>

    <div class="actaSeleccionAnimate bgNaranja with-padding block-inner">
        Firma o inicial (según corresponda) en todas las hojas, de los
        integrantes del Comité de Preselección y Selección.
    </div>

</div>

<div class="callout callout-default">
    Ver modelo de acta de selección ingresando a
    <a href="https://becas.cnea.gov.ar" target="_blank">https://becas.cnea.gov.ar</a>
    con el usuario y contraseña provista por la Subgerencia Capital Intelectual
</div>

<script>
    $('.tip').tooltip();
    mostrarProgresivamente(".actaSeleccionAnimate");
</script>
