<h1>{{paginaActual().titulo}}</h1>

<div class="row callout callout-default fade in">

    <div class="col-sm-4 text-center">
        <img class="img-rounded img-responsive imgCentrada" src="images/content/acta.png">
    </div>

    <div class="col-sm-8">
        <h2 class="actaPreseleccionAnimate">
            Deberá contener
        </h2>


        <div class="actaPreseleccionAnimate bgNaranja with-padding block-inner">
            Listado final de aquellos postulantes desestimados por no cumplir con los requisitos de la beca explicitando los motivos.
        </div>

        <div class="actaPreseleccionAnimate bgNaranja with-padding block-inner">
            La tabla de ponderación (NO incluir aquí postulantes desestimados).
        </div>

        <div class="actaPreseleccionAnimate bgNaranja with-padding block-inner">
            El orden de mérito preliminar.
        </div>

        <div class="actaPreseleccionAnimate bgNaranja with-padding block-inner">
            Los nombres de los postulantes que se entrevistarán.
        </div>

        <div class="actaPreseleccionAnimate bgNaranja with-padding block-inner">
            Firma o inicial (según corresponda) en todas las hojas de todos los integrantes del Comité de Preselección y Selección.
        </div>


    </div>


</div>

<div class="callout callout-default">
    Ver modelo de Preselección ingresando a
    <a href="https://becas.cnea.gov.ar" target="_blank">https://becas.cnea.gov.ar</a>
    con el usuario y contraseña provista por la Subgerencia Capital Intelectual
</div>

<!--actividad5-->
<div class="row">

    <div class="col-md-1"></div>

    <div class="col-md-10">

        <div class="panel panel-danger">

            <div class="panel-heading">
                <h4 class="panel-title"><i class="icon icon-book"></i> Ordenar los ítems </h4>
            </div>

            <div class="panel-body">

                <h4>Ordenar cada frase según corresponda a cada momento del proceso de Preselección. (Arrastre y suelte las cajas para ordenar)</h4>

                <div ng-model="actividad5.opciones" ui-sortable>
                    <div class="drag opcionesOrdenables bg-success" ng-repeat="opcion in actividad5.opciones">
                        {{opcion.valor}}
                    </div>
                </div>

                <div ng-show="actividad5.contestada() && !actividad5.correcta()"
                     class="alert alert-danger fade in block-inner">
                    <i class="icon-cancel-circle"></i> Deberá volver a intentarlo
                </div>

                <div ng-show="actividad5.contestada() && actividad5.correcta()"
                     class="alert alert-success fade in block-inner">
                    <i class="icon-checkmark-circle"></i> Felicitaciones, ha optado por la respuesta correcta
                </div>


                <div class="text-center botoneraActividad">
                    <button ng-click="actividad5.contestar()" type="button" class="btn btn-primary">Responder</button>
                </div>

            </div>

        </div>

    </div>

    <div class="col-md-1"></div>

</div>

<script>
    $('.tip').tooltip();
    mostrarProgresivamente(".actaPreseleccionAnimate");
</script>





