<h1>{{paginaActual().titulo}}</h1>

<div class="callout callout-info">
    <p>
        La siguiente, es una actividad integradora que abarca todos los pasos del procedimiento
        de Preselección y Selección de becarios.
    </p>

    <p>
        Se muestran 14 casos en los que será necesario elegir la opción correcta en cada uno,
        contando para ello con 5 intentos, pero sólo se podrá avanzar al siguiente, si se ha contestado correctamente.
    </p>

    <p>
        Si ha cometido más de 5 errores le recomendamos volver a leer los puntos
        correspondientes presentados en esta capacitación.
    </p>

</div>


<div style="min-height: 500px" class="row" ng-controller="actividadIntegradoraController as actividadCtrl">
    <div class="col-md-1"></div>

    <div class="col-md-10">

        <h3>
            Progreso: {{actividadCtrl.actividades.indexOf(actividadCtrl.actividadActual) + 1 }} de
            {{actividadCtrl.actividades.length}}

            (Errores: {{actividadCtrl.totalErrores()}})
        </h3>

        <div ng-show="actividad == actividadCtrl.actividadActual" ng-repeat="actividad in actividadCtrl.actividades"
             id="#act{{actividadCtrl.actividades.indexOf(actividad)}}" class="item"
             ng-class="{active: !$index}">
            <div ng-include="actividadCtrl.getTemplate(actividad)"></div>
        </div>

        <!--<div id="myCarousel" class="carousel slide" data-ride="carousel">-->

            <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
            <!--<div class="carousel-inner" role="listbox">-->
                <!--<div ng-repeat="actividad in actividadCtrl.actividades"-->
                     <!--id="#act{{actividadCtrl.actividades.indexOf(actividad)}}" class="item"-->
                     <!--ng-class="{active: !$index}">-->
                    <!--<div ng-include="actividadCtrl.getTemplate(actividad)"></div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

    </div>

    <div class="col-md-1"></div>
</div>


<script type="text/ng-template" id="botoneraActividad">

    <div ng-show="actividad.contestada() && !actividad.correcta()"
         class="alert alert-danger fade in block-inner">
        <i class="icon-cancel-circle"></i> {{actividadCtrl.mensajeReintentar(actividad)}}
    </div>

    <div ng-show="actividad.contestada() && actividad.correcta()"
         class="alert alert-success fade in block-inner">
        <i class="icon-checkmark-circle"></i> Felicitaciones, ha optado por la respuesta correcta.<br>
        {{actividadCtrl.ultimaPregunta(actividad) ? "Ha finalizado la autoevaluación satisfactoriamente." : ""}}
    </div>

    <div class="text-center botoneraActividad">

        <button ng-disabled="!actividad.puedeContestar()"
                ng-click="actividad.contestar()"
                ng-show="actividadCtrl.puedeResponder(actividad)"
                type="button" class="btn btn-primary">
            Responder
        </button>

        <button ng-if="actividadCtrl.actividades.indexOf(actividad) < actividadCtrl.actividades.length - 1"
                ng-show="actividadCtrl.puedeContinuar(actividad)"
                ng-click="actividadCtrl.avanzarActividad()"
                class="btn btn-success" data-target="#myCarousel" role="button" data-slide="next">
            Continuar
        </button>

        <button ng-show="actividadCtrl.debeReintentar(actividad)"
                ng-click="actividadCtrl.reintentar()"
                class="btn btn-danger" data-target="#myCarousel" role="button" data-slide-to="0">
            Reiniciar
        </button>

    </div>

</script>

<script type="text/ng-template" id="actividadMultipleChoice">
    <div class="panel panel-success">

        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="icon icon-book"></i>
                {{actividadCtrl.actividades.indexOf(actividad) +1}}. Elegir la opción correcta
            </h4>
        </div>

        <div class="panel-body">

            <h4>{{actividad.enunciado}}</h4>

            <label class="labelRadio" ng-repeat-start="opcion in actividad.opciones">
                <input type="radio" value="{{opcion.valor}}" ng-model="actividad.opcionSeleccionada">
                {{opcion.valor}}
            </label>
            <br ng-repeat-end>
            <br>

            <div ng-include="'botoneraActividad'"></div>

        </div>

    </div>
</script>

<script type="text/ng-template" id="actividadCompletarFrase">
    <div class="panel panel-warning">

        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="icon icon-book"></i>
                {{actividadCtrl.actividades.indexOf(actividad) +1}}. Elegir la opción Correcta
            </h4>
        </div>

        <div class="panel-body">

            <p>
                {{actividad.enunciadoParte1}}

                <select class="comboCustom" data-placement="top"
                        title="Breve ayuda: Hacer a alguien apto, habilitarlo para algo." class="tip"
                        ng-model="actividad.opcionSeleccionada">
                    <option ng-repeat="opcion in actividad.opciones" value="{{opcion.valor}}">{{opcion.valor}}
                    </option>
                </select>

                {{actividad.enunciadoParte2}}
            </p>

            <div ng-include="'botoneraActividad'"></div>

        </div>

    </div>
</script>

<script type="text/ng-template" id="actividadMcMa">
    <div class="panel panel-success">

        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="icon icon-book"></i>
                {{actividadCtrl.actividades.indexOf(actividad) +1}}. Elegir las opciones correctas
            </h4>
        </div>

        <div class="panel-body">

            <h4>{{actividad.enunciado}}</h4>

            <label class="labelRadio" ng-repeat-start="opcion in actividad.opciones">
                <input type="checkbox" value="{{opcion.valor}}" ng-model="opcion.marcada">
                {{opcion.valor}}
            </label>
            <br ng-repeat-end>
            <br>

            <div ng-include="'botoneraActividad'"></div>

        </div>

    </div>
</script>

<script type="text/javascript">
    $('.carousel').carousel({
        interval: false
    });
</script>

