<h1>Actividades</h1>

<!--actividad1-->
<div class="row">

    <div class="col-md-1"></div>

    <div class="col-md-10">

        <div class="panel panel-warning">

            <div class="panel-heading">
                <h4 class="panel-title"><i class="icon icon-book"></i> Elegir la palabra Correcta </h4>
            </div>

            <div class="panel-body">

                <div class="row">

                    <div class="col-md-6 text-center">
                        <img class="img-responsive imgCentrada imagenRedondeada" src="images/content/becas_cnea1.jpg">
                    </div>

                    <div class="col-md-6">
                        <h4>Intereses y valores: </h4>
                        <p>
                            El postulante está muy interesado en

                            <select class="comboCustom" data-placement="top" title="Breve ayuda: Hacer a alguien apto, habilitarlo para algo." class="tip"
                                    ng-model="actividad1.opcionSeleccionada">
                                <option ng-repeat="opcion in actividad1.opciones" value="{{opcion.valor}}">{{opcion.valor}}</option>
                            </select>

                            en CNEA.

                        </p>

                        <div ng-show="actividad1.contestada() && !actividad1.correcta()"
                             class="alert alert-danger fade in block-inner">
                            <i class="icon-cancel-circle"></i> Deberá volver a intentarlo
                        </div>

                        <div ng-show="actividad1.contestada() && actividad1.correcta()"
                             class="alert alert-success fade in block-inner">
                            <i class="icon-checkmark-circle"></i> Felicitaciones, ha optado por la respuesta correcta
                        </div>

                        <div class="text-center botoneraActividad">
                            <button ng-click="actividad1.contestar()" type="button" class="btn btn-primary">Responder</button>
                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="col-md-1"></div>

</div>

<!--actividad2-->
<div class="row">

    <div class="col-md-1"></div>

    <div class="col-md-10">

        <div class="panel panel-success">

            <div class="panel-heading">
                <h4 class="panel-title"><i class="icon icon-book"></i> Elegir la opción correcta </h4>
            </div>

            <div class="panel-body">

                <div class="text-center">
                    <img class="img-responsive imgCentrada imagenRedondeada" src="images/content/becarios5.jpg">
                </div>

                <br>

                <h4>Los postulantes que deben incluirse en la tabla de ponderación son: </h4>

                <label class="labelRadio" ng-repeat="opcion in actividad2.opciones">
                    <input type="radio" value="{{opcion.valor}}" ng-model="actividad2.opcionSeleccionada">
                    {{opcion.valor}}
                </label>

                <br>
                <br>

                <div ng-show="actividad2.contestada() && !actividad2.correcta()"
                     class="alert alert-danger fade in block-inner">
                    <i class="icon-cancel-circle"></i> Deberá volver a intentarlo
                </div>

                <div ng-show="actividad2.contestada() && actividad2.correcta()"
                     class="alert alert-success fade in block-inner">
                    <i class="icon-checkmark-circle"></i> Felicitaciones, ha optado por la respuesta correcta
                </div>


                <div class="text-center botoneraActividad">
                    <button ng-click="actividad2.contestar()" type="button" class="btn btn-primary">Responder</button>
                </div>

            </div>

        </div>

    </div>

    <div class="col-md-1"></div>

</div>

<!--actividad3-->
<div class="row">

    <div class="col-md-1"></div>

    <div class="col-md-10">

        <div class="panel panel-danger">

            <div class="panel-heading">
                <h4 class="panel-title"><i class="icon icon-book"></i> Ordenar los ítems </h4>
            </div>

            <div class="panel-body">

                <h4>Ordenar cada frase según corresponda a cada momento en el armado del Expediente de Concurso.
                    (Arrastre y suelte las cajas para ordenar)</h4>

                <div ng-model="actividad3.opciones" ui-sortable>
                    <div class="drag opcionesOrdenables bg-info" ng-repeat="opcion in actividad3.opciones">
                        {{opcion.valor}}
                    </div>
                </div>

                <div ng-show="actividad3.contestada() && !actividad3.correcta()"
                     class="alert alert-danger fade in block-inner">
                    <i class="icon-cancel-circle"></i> Deberá volver a intentarlo
                </div>

                <div ng-show="actividad3.contestada() && actividad3.correcta()"
                     class="alert alert-success fade in block-inner">
                    <i class="icon-checkmark-circle"></i> Felicitaciones, ha optado por la respuesta correcta
                </div>


                <div class="text-center botoneraActividad">
                    <button ng-click="actividad3.contestar()" type="button" class="btn btn-primary">Responder</button>
                </div>

            </div>

        </div>

    </div>

    <div class="col-md-1"></div>

</div>

<!--actividad4-->
<div class="row">

    <div class="col-md-1"></div>

    <div class="col-md-10">

        <div class="panel panel-success">

            <div class="panel-heading">
                <h4 class="panel-title"><i class="icon icon-book"></i> Elegir la opción correcta </h4>
            </div>

            <div class="panel-body">

                <div class="text-center">
                    <img class="img-responsive imgCentrada imagenRedondeada" src="images/content/expedientes.png">
                </div>

                <br>

                <h4>Seleccione la opción correcta en relación con los contenidos del expediente</h4>

                <label class="labelRadio" ng-repeat-start="opcion in actividad4.opciones">
                    <input type="radio" value="{{opcion.valor}}" ng-model="actividad4.opcionSeleccionada">
                    {{opcion.valor}}
                </label>
                <br ng-repeat-end>

                <br>
                <br>

                <div ng-show="actividad4.contestada() && !actividad4.correcta()"
                     class="alert alert-danger fade in block-inner">
                    <i class="icon-cancel-circle"></i> Deberá volver a intentarlo
                </div>

                <div ng-show="actividad4.contestada() && actividad4.correcta()"
                     class="alert alert-success fade in block-inner">
                    <i class="icon-checkmark-circle"></i> Felicitaciones, ha optado por la respuesta correcta
                </div>


                <div class="text-center botoneraActividad">
                    <button ng-click="actividad4.contestar()" type="button" class="btn btn-primary">Responder</button>
                </div>

            </div>

        </div>

    </div>

    <div class="col-md-1"></div>

</div>

<!--actividad5-->
<div class="row">

    <div class="col-md-1"></div>

    <div class="col-md-10">

        <div class="panel panel-danger">

            <div class="panel-heading">
                <h4 class="panel-title"><i class="icon icon-book"></i> Ordenar los ítems </h4>
            </div>

            <div class="panel-body">

                <h4>Ordenar cada frase según corresponda a cada momento del proceso de Preselección. (Arrastre y suelte las cajas para ordenar)</h4>

                <div ng-model="actividad5.opciones" ui-sortable>
                    <div class="drag opcionesOrdenables bg-success" ng-repeat="opcion in actividad5.opciones">
                        {{opcion.valor}}
                    </div>
                </div>

                <div ng-show="actividad5.contestada() && !actividad5.correcta()"
                     class="alert alert-danger fade in block-inner">
                    <i class="icon-cancel-circle"></i> Deberá volver a intentarlo
                </div>

                <div ng-show="actividad5.contestada() && actividad5.correcta()"
                     class="alert alert-success fade in block-inner">
                    <i class="icon-checkmark-circle"></i> Felicitaciones, ha optado por la respuesta correcta
                </div>


                <div class="text-center botoneraActividad">
                    <button ng-click="actividad5.contestar()" type="button" class="btn btn-primary">Responder</button>
                </div>

            </div>

        </div>

    </div>

    <div class="col-md-1"></div>

</div>


<script>
    $('.tip').tooltip();
    $('.drag').draggable();
</script>
