<h1>{{paginaActual().titulo}}</h1>

<div class="row callout callout-default fade in">

    <div class="col-sm-4 text-center">
        <img class="img-rounded img-responsive imgCentrada" src="images/content/nubetags.png">
    </div>

    <div class="col-sm-8">
        <h2 class="comiteAnimado">
            ¿Quiénes evalúan el listado de postulantes del expediente brindado por la Gerencia de Planificación,
            Coordinación y
            Control?
        </h2>

        <p class="comiteAnimado">
            Se conformará a tal fin un Comité de Preselección y Selección que debe estar integrado por:
        </p>

        <div class="comiteAnimado bg-warning with-padding block-inner">El/la Director/a de la beca.
        </div>

        <div class="comiteAnimado bg-warning with-padding block-inner">Su jefe inmediato superior, o quien él designe en
            su reemplazo.
            Debe incluir además un alterno a los únicos
            efectos
            de
            cubrir posibles ausencias.
        </div>

        <div class="comiteAnimado bg-warning with-padding block-inner">El jefe de organismo Principal o quien él designe
            en su representación.
            Debe incluir además un alterno a los únicos
            efectos
            de
            cubrir posibles ausencias.
        </div>

    </div>
</div>

<div class="bg-primary with-padding block-inner">
    Para aquellos organismos principales que ya cuenten con un comité de Beca formalmente
    constituido, el mismo llevará a cabo la evaluación en conjunto con el Director de la
    correspondiente beca, su jefe directo o su representante por él designado y el co-director, si lo
    hubiera.
</div>


<div name="importante" title="Importante" class="tip animado bloqueConIcono row bg-danger with-padding block-inner">

    <div class="col-xs-1">
        <span class="icon-warning icono"></span>
    </div>

    <div class="col-xs-10 col-sm-11">

        <p>
            Este Comité de Preselección y Selección deberá estar avalado por el Jefe del Organismo Principal por nota
            que se debe incluir en el expediente.
            (Si hubiese co- director, es recomendable que también participe de las entrevistas, sumándose a las tres
            personas antes mencionadas)
        </p>

    </div>

</div>

<div class="callout callout-default">
    Ver modelo de nota de conformación del Comité de Preselección y Selección ingresando a
    <a href="https://becas.cnea.gov.ar" target="_blank">https://becas.cnea.gov.ar</a>
    con el usuario y contraseña provista por la Subgerencia Capital Intelectual
</div>

<script>
    $('.tip').tooltip();
    mostrarProgresivamente(".comiteAnimado");
</script>