<h1>{{paginaActual().titulo}}</h1>

<div class="callout callout-default">
    <h3>Para información sobre Concursos:</h3>

    <p>
        <a href="mailto:concurso@cnea.gov.ar" target="_blank">concurso@cnea.gov.ar</a><br>
        Sede Central. 2do. Piso, oficina 2115/2118
    </p>

    <p>
        Silvina Álvarez 6323-1517<br>
        Lucía Lira 6323-1544<br>
        Orestes Olivera Marrero 6323-1532
    </p>
</div>
<div class="callout callout-default">
    <h3>Para información sobre las becas en general:</h3>

    <p>Sede Central. 2do. Piso, oficina 2118</p>

    <p>Ana María Contegnoso 4704-1054<br>
        <a href="mailto:acontegn@cnea.gov.ar" target="_blank">acontegn@cnea.gov.ar</a><br>

        Fabiola López 6323-1534<br>
        <a href="mailto:fabiolalopez@cnea.gov.ar" target="_blank">fabiolalopez@cnea.gov.ar</a>
    </p>

</div>