<div class="row callout callout-info">

    <div class="desarrolloCategoria bg-info with-padding block-inner">
        A- POSTULANTES QUE CUMPLEN LOS REQUISITOS DE LA BECA: <br>
        Son aquellos que cumplen el perfil publicado y propuesto por el
        Director de Beca. Incluye la edad máxima establecida,
        la nacionalidad argentina o en trámite y la formación académica.
        Se debe verificar cuidadosamente la
        <a class="linkModal" data-toggle="modal" data-target="#myModal">documentación respaldatoria presentada.</a>
    </div>

    <div class="desarrolloCategoria bg-info with-padding block-inner">
        B- POSTULANTES A DEFINIR POR EL DIRECTOR SI CUMPLEN LOS REQUISITOS DE LA BECA: <br>
        Son aquellos postulantes con carreras que podrían ser a afines o no a lo solicitado en el
        perfil de la Beca. Esta situación se presenta en  los casos en que en el perfil de Beca  se
        solicita “X carrera o afines”. El director debe decidir la afinidad de la carrera para
        postulante.
    </div>

    <div class="desarrolloCategoria bg-info with-padding block-inner">
        C- POSTULANTES QUE NO CUMPLEN LOS REQUISITOS DE LA BECA: <br>
        Son aquellos que no cumplen con lo
        mencionado en el punto “A” por ende deberán ser desestimados.
    </div>


</div>


<div id="desarrolloObservacion" title="Importante" class="tip bloqueConIcono row bg-warning with-padding block-inner">

    <div class="col-xs-1">
        <span class="icon-warning icono"></span>
    </div>

    <div class="col-xs-10 col-sm-11">
        <h4>Observación</h4>

        <p>
            Se informa, además, a qué otras becas se ha presentado cada uno de los candidatos.
            El orden en que aparecen en los listados que los Directores reciben en el
            expediente, es aleatorio.
        </p>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <span style="opacity: 0">PLACEHOLDER</span>
                    <i class="icon icon-question2" data-toggle="modal" data-target="#myModal"></i>
                </h4>
            </div>

            <div class="modal-body with-padding">
                <div class="row callout callout-default fade in">
                    <p>
                        Toda la documentación presentada por los postulantes se puede descargar en:
                        <a href="https://becas.cnea.gov.ar" target="_blank">https://becas.cnea.gov.ar</a>, donde el/la
                        Director/a debe ingresar con el usuario y
                        contraseña proporcionados oportunamente por la Subgerencia Capital Intelectual.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $('.tip').tooltip();
    $("#desarrolloObservacion").hide()
    $(".desarrolloCategoria").hide()
    var tiempoTotal = mostrarProgresivamente(".desarrolloCategoria", 0, 2000);
    $("#desarrolloObservacion").delay(tiempoTotal).fadeTo(2000, 1);
</script>

