<h1>{{paginaActual().titulo}}</h1>

<div id="desarrolloParrafoInicial" class="row callout callout-default">
    <p>
        La Gerencia de Planificación, Coordinación y Control remite a los/as Directores/as el
        expediente con el perfil de beca publicado y el listado de postulantes válidos para cada
        beca (aquellos que cumplieron todos los pasos requeridos), divididos en tres categorías.
    </p>
</div>

<div class="row callout callout-info">

    <h2 ng-click="paginaSiguiente()" id="desarrolloTituloCategorias" style="text-align: center; cursor: pointer">
        ¿Cuáles son esas tres categorías?
        <button class="btn btn-success">
            Ver <span style="line-height: 1" class="icon-arrow-right2"></span>
        </button>
    </h2>

</div>
