<h1>{{paginaActual().titulo}}</h1>

<div class="row callout callout-default">
    <p>
        La siguiente imagen nos muestra, a modo de ruta, cada una de las etapas.
        Encontrará coloreado el momento en que se encuentra según el desarrollo del curso
    </p>

    <div style="text-align: center">
        <h3>
            Ruta del Proceso de preselección y selección
        </h3>
        <button data-target="#modalProceso" data-toggle="modal" class="btn btn-success">
            Ver <span style="line-height: 1" class="icon-arrow-right2"></span>
        </button>
    </div>

</div>

<h2>Entrevista</h2>
<!--Ingresa la imagen o gráfico de proceso de selección y si es posible se le da movimiento hacia arriba a la parte en rojo de la misma:-->


<div name="importante" title="Importante"
     class="entrevistaAnimate tip bloqueConIcono row bg-info with-padding block-inner">

    <div class="col-xs-1">
        <span class="icon-warning icono"></span>
    </div>

    <div class="col-xs-10 col-sm-11">
        <p>
            La entrevista es el ámbito para recabar información sobre el candidato acerca de su formación,
            trayectoria, intereses y valores, nivel de complejidad de problemas que maneja y las conductas
            requeridas que conduzcan a un pronóstico referido a la adecuación entre la persona y la beca que se
            pretende cubrir. Sus resultados complementan y verifican la información documental recibida.
            La entrevista implica combinar dos objetos: la persona y la organización.
        </p>

    </div>

</div>

<div class="entrevistaAnimate callout callout-warning">
    <p>
        Previo a la Selección deberá tenerse en claro los planes y proyectos del área,
        objetivos y actividades de la beca, de quién depende, nivel de complejidad de las
        actividades que el candidato tiene que desarrollar.
    </p>

    <p>
        Ganamos efectividad en la entrevista cuando podemos referir claramente la persona a la
        complejidad de la capacitación que va a realizar.
    </p>
</div>

<div class="callout callout-info">
    <div class="row">

        <div class="col-sm-6">
            <ul>
                <li>
                    La entrevista será personal. Sin embargo, dado que no está previsto reembolsar gastos de viaje, en
                    aquellos casos en que las distancias sean superiores a los 100 Km y el postulante no pueda
                    desplazarse,
                    se podrá optar por una conferencia telefónica o por videoconferencia.
                </li>
                <li>
                    Las entrevistas se realizarán en cada sector, estando a cargo del Comité de Preselección y Selección
                    indicado precedentemente.
                </li>
            </ul>
        </div>

        <div class="col-sm-6">
            <div name="comentario" title="Comentario"
                 class="entrevistaAnimate tip bloqueConIcono row bg-info with-padding block-inner">

                <div class="col-xs-1">
                    <span style="margin-left: -15px" class="icon-bubbles3 icono"> </span>
                </div>

                <div class="col-xs-10 col-sm-10 col-md-10">
                    Podrá consultar la Guía para la Entrevista en Apartado: Guía para la Entrevista de Selección
                </div>

            </div>
        </div>

    </div>

</div>


<div class="entrevistaAnimate callout callout-warning">
    <p>
        Hay postulantes que se presentan a más de una beca (como máximo se puede presentar a tres),
        al momento de la entrevista debe informarse al candidato que si resultara seleccionado en
        primer lugar en más de una beca, será CNEA quien decida cuál de las becas le será ofrecida.
        Debe informarse también que la beca no se hará efectiva hasta tanto no cuenten con el
        Certificado de Apto Médico obtenido a través de la realización del examen psicofísico exigido
        por la aseguradora de riesgos de trabajo, expedido por IMERASE, como así también con el Certificado
        de Antecedentes Penales.
    </p>


    <p>
        Es necesario que en esa ocasión cada postulante conozca cuáles son las condiciones de la
        beca para que, en caso de resultar elegido, pueda decidir si acepta o no la beca contando
        con la información adecuada:
    </p>
    <ul class="listado listadoWarning">
        <li>carga horaria,</li>

        <li>incompatibilidades,</li>

        <li>estipendio,</li>

        <li>deberes y derechos y</li>

        <li>
            aspectos particulares, si los hubiera, tales como confidencialidad (firma de Acuerdo de Confidencialidad y
            no
            divulgación), contacto con pacientes o animales de laboratorio, etc.
        </li>
    </ul>
</div>

<div name="docente" title="Importante" class="entrevistaAnimate tip bloqueConIcono row bg-danger with-padding block-inner">

    <div class="col-xs-1">
        <span class="icon-warning icono"></span>
    </div>

    <div class="col-xs-10 col-sm-11">
        <p>
            Es importante tener presente que una beca es una oportunidad de capacitación y no un puesto de trabajo.
            A fin de evitar confusiones por parte del postulante, se recomienda tener especial cuidado con los términos
            utilizados al momento de interactuar con el mismo. (Por ejemplo, el becario recibe un estipendio y no un
            sueldo; goza de Licencia Anual por Descanso en lugar de Licencia Anual Reglamentaria).
        </p>

    </div>

</div>

<!--actividad1-->
<div class="row">

    <div class="col-md-1"></div>

    <div class="col-md-10">

        <div class="panel panel-warning">

            <div class="panel-heading">
                <h4 class="panel-title"><i class="icon icon-book"></i> Elegir la palabra Correcta </h4>
            </div>

            <div class="panel-body">

                <div class="row">

                    <div class="col-md-6 text-center">
                        <img class="img-responsive imgCentrada imagenRedondeada" src="images/content/becas_cnea1.jpg">
                    </div>

                    <div class="col-md-6">
                        <h4>Intereses y valores: </h4>
                        <p>
                            El postulante está muy interesado en

                            <select class="comboCustom" data-placement="top" title="Breve ayuda: Hacer a alguien apto, habilitarlo para algo." class="tip"
                                    ng-model="actividad1.opcionSeleccionada">
                                <option ng-repeat="opcion in actividad1.opciones" value="{{opcion.valor}}">{{opcion.valor}}</option>
                            </select>

                            en CNEA.

                        </p>

                        <div ng-show="actividad1.contestada() && !actividad1.correcta()"
                             class="alert alert-danger fade in block-inner">
                            <i class="icon-cancel-circle"></i> Deberá volver a intentarlo
                        </div>

                        <div ng-show="actividad1.contestada() && actividad1.correcta()"
                             class="alert alert-success fade in block-inner">
                            <i class="icon-checkmark-circle"></i> Felicitaciones, ha optado por la respuesta correcta
                        </div>

                        <div class="text-center botoneraActividad">
                            <button ng-click="actividad1.contestar()" type="button" class="btn btn-primary">Responder</button>
                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="col-md-1"></div>

</div>


<script>
    $('.tip').tooltip();
</script>

<div style="max-height: 100%" class="modal fade" id="modalProceso">
    <div style="max-width: 900px; width: 100%" class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Proceso de preselección y selección: Etapa de selección</h4>
            </div>

            <div class="modal-body with-padding block-inner">
                <img class="img-rounded img-responsive imgCentrada" src="images/content/procesoSeleccion2.png">
            </div>
        </div>

    </div>
</div>

