<div class="callout callout-default">
    <p>
        <b>Audiencia:</b> directores y codirectores de becas CNEA “Aprender Haciendo” y personal de apoyo administrativo.
    </p>

    <p><b>Prerequisitos:</b> ninguno</p>

    <p><b>Modalidad:</b> e-learning autoguiado</p>

    <p><b>Carga horaria:</b> 2 horas</p>

    <p><b>Última actualización:</b> noviembre de 2015</p>

    <p><b>Sector responsable:</b> Subgerencia Capital Intelectual, Gerencia de Planificación, Coordinación y Control</p>

    <!--<p><b>Nivel de calidad:</b> calidad del contenido controlado por personal de la Subgerencia Capital Intelectual</p>-->

    <!--<p><b>Tratamiento del tema:</b> completo</p>-->

    <!--<p><b>Frecuencia de actualización:</b> con cada actualización del procedimiento</p>-->


    <!--<p><b>Certificación:</b> sin certificación</p>-->



    <!--<p><b>Tema:</b> Becas. Procedimiento de preselección y selección</p>-->

    <!--<p><b>Palabras clave:</b> becas; selección; procedimiento, Aprender Haciendo</p>-->

    <!--<p>-->
        <!--<b>Contacto:</b> <br>-->
        <!--<a href="mailto:concurso@cnea.gov.ar" target="_blank">concurso@cnea.gov.ar</a>-->
        <!--<br>-->

        <!--Sede Central. 2do. Piso, oficina 2115/2118<br>-->

        <!--Silvina Álvarez 6323-1517<br>-->

        <!--Lucía Lira 6323-1544<br>-->

        <!--Orestes Olivera Marrero 6323-1532<br>-->

        <!--Fabiola López 6323-1534<br>-->

        <!--Ana María Contegnoso 4704-1054<br>-->
    <!--</p>-->

    <!--<p>-->
        <!--<b>Autores:</b><br>-->

        <!--Alvarez Silvina<br>-->
        <!--Chavez Alejandra<br>-->
        <!--Della Penna Fiorella<br>-->
        <!--Gonzalez Canosa Tomás<br>-->
        <!--Grance Valeria<br>-->
        <!--Lira Lucía<br>-->
        <!--Olivera Marrero Orestes<br>-->

    <!--</p>-->

</div>