<h1>{{paginaActual().titulo}}</h1>

<h2>Introducción</h2>


<div id="objetivoGeneral" class="row callout callout-info fade in">

    <div class="col-xs-1">
        <span class="icon-target2 icono"></span>
    </div>

    <div class="col-xs-10 col-sm-11">

        <p>
            Esta guía tiene como objetivo ofrecer elementos para realizar el proceso de entrevistas de
            selección y evaluación de candidatos.
        </p>

    </div>

</div>


<div class="callout callout-warning">
    Definimos la entrevista como un método útil para obtener información que permita arribar a una conclusión y
    un pronóstico referido a aspectos vinculados con el desempeño a futuro de una persona en una beca y el grado de
    ajuste a la misma
</div>

<div name="importante" title="Importante" class="tip bloqueConIcono row bg-success with-padding block-inner">

    <div class="col-xs-1">
        <span class="icon-warning icono"></span>
    </div>

    <div class="col-xs-10 col-sm-11">
        <p>
            Previo a la entrevista deberán tenerse en claro los objetivos y actividades de la beca, de quién dependerá,
            nivel de complejidad de las actividades que el candidato tendrá que desarrollar, los planes y las funciones
            que conforman la estructura dentro de la cual se ubica. El entrevistador continuamente comparará el perfil
            que se busca y el sujeto que se presenta; e irá clasificando la adecuación entre ambos objetos.
        </p>
    </div>

</div>


<div class="callout callout-default">
    <p>
        Todos estos temas requieren una opinión del evaluador que involucra una decisión y que inevitablemente
        es personal pero no por ello menos válida.
    <p>

    <p>Para descargar la Guía de entrevista de Selección debe ingresar a
        <a href="https://becas.cnea.gov.ar" target="_blank">https://becas.cnea.gov.ar</a>,
        con el usuario y contraseña provista por la Subgerencia Capital Intelectual
    </p>
</div>


<script>
    $('.tip').tooltip();
</script>
