<h1>{{paginaActual().titulo}}</h1>

<div class="callout callout-info">
    <h2>Comienzo de la entrevista</h2>

    <p>
        <b>Al inicio de la entrevista</b> el entrevistador se presentará con una breve mención de su posición, señalará
        cuál es
        el objetivo de la reunión, qué se va a hacer y el tiempo que se empleará. Dará información mínima necesaria
        acerca de la beca, el objetivo de capacitación en lo inmediato y en los próximos años, condiciones de
        la beca, horario, lugar en que tendrá lugar la capacitación, estipendio.
    </p>

    <p>
        <b>El entrevistador invitará al candidato a hacer una presentación de sí mismo,</b> educativa y de su
        trayectoria,
        haciendo énfasis en los motivos por los cuales el candidato eligió su carrera. Indagará en particular en
        algún momento de la entrevista los motivos por los cuales se presenta a la beca, que le interesó de la
        institución, qué cosas ha hecho, a qué le gustaría dedicarse, etc.
    </p>

    <p>
        <b>El entrevistador observará cómo el individuo maneja la situación de entrevista</b>, la información
        que selecciona, la claridad con que se comunica; adoptando una actitud que privilegie la presentación
        del candidato. Para el entrevistado es una motivación interactuar con quien será su Director/a por lo
        que se recomienda que sea quien conduzca la entrevista.
    </p>
</div>


<div class="callout callout-default">
    <h2>Rubros de la entrevista</h2>

    <h3>La entrevista nos permitirá advertir al menos cinco grupos de datos:</h3>

    <div>
        <img class="img-responsive img-rounded imgCentrada" src="images/content/gruposDatos.png"/>
    </div>

</div>


