<h1>Introducción</h1>

<div class="row callout callout-info fade in">
    <p>
        <div class="col-sm-6">
        La Comisión Nacional de Energía Atómica
        lleva adelante un programa de formación
        en temas científicos, tecnológicos y de
        gestión, necesarios para el desarrollo de
        sus actividades comprendidas en el
        marco de su Plan Estratégico, en el
        ámbito de las aplicaciones pacíficas de la
        energía nuclear para beneficio de la
        sociedad, en áreas que van desde la salud
        hasta la generación de energía.
        A tal fin, desde 1962, otorga becas
        actualmente denominadas “Aprender
        haciendo”, que permiten a  profesionales,
        estudiantes y técnicos  formarse en sus
        instalaciones, junto a grupos de expertos
        de la Institución.
        </div>

        <div class="col-sm-6">
        <p>Así, la formación se
        realiza a través de la transmisión directa
        de conocimientos y experiencias  de los
        especialistas a los becarios quienes
        conformarán la próxima generación de
        expertos del sector nuclear argentino.</p>
        <p>En el presente curso se le capacitará en
        las diferentes etapas de preselección y
        selección de becarios por concurso para
        que pueda estar en condiciones de
        completar el proceso exitosamente
        seleccionando a los mejores candidatos y,
        cumplimentar los pasos establecidos en
        el procedimiento aprobado a tal fin.</p>
        </div>
    </p>
</div>
