<h1>Objetivos</h1>

<div id="objetivoGeneral" class="row callout callout-info fade in">

    <div class="col-xs-1">
        <span class="icon-target2 icono"></span>
    </div>

    <div class="col-xs-10 col-sm-11">

        <h2>
            Objetivos Generales
        </h2>

        <p>
            Facilitar la comprensión del procedimiento completo de selección de becarios
            a través de sus distintas etapas: desde el relevamiento de necesidades de becas
            hasta su otorgamiento.
        </p>

    </div>

</div>

<div id="objetivosEspecificos" class="row callout callout-default fade in">

    <h2>
        Objetivos Específicos
    </h2>

    <div class="objetivo bg-primary with-padding block-inner">
        <span class="icon-target2 icono"></span>
        Optimizar el proceso de selección
        de becarios para concretar el
        otorgamiento de la beca en el
        menor tiempo posible.
    </div>

    <div class="objetivo bg-info with-padding block-inner">
        <span class="icon-target2 icono"></span>
        Orientar a los nuevos directores y
        codirectores respecto de su rol
        en las primeras instancias de
        preselección, selección y
        otorgamiento de una Beca
        “Aprender Haciendo”.
    </div>

    <div class="objetivo bg-primary with-padding block-inner">
        <span class="icon-target2 icono"></span>
        Propiciar la mejor selección de
        candidatos.
    </div>


    <div class="objetivo bg-info with-padding block-inner">
        <span class="icon-target2 icono"></span>
        Resaltar la importancia de un
        expediente bien conformado.
    </div>

    <div class="objetivo bg-primary with-padding block-inner">
        <span class="icon-target2 icono"></span>
        Reducir el número de correcciones de las actas de preselección y selección de becarios.
    </div>

</div>

<script>

    $("#objetivosEspecificos").hide();
    $(".objetivo").hide()

    $("#objetivosEspecificos").delay(2000).fadeTo(2000, 1);

    mostrarProgresivamente(".objetivo", 2000, 2000);

</script>