<div class="portada">

    <div class="portadaArriba"></div>

    <div class="contenidoPortada">
        <h1 class="portadaAnimate" style="text-align: left">Becas Aprender Haciendo</h1>
        <h2 class="portadaAnimate" style="text-align: right">Procedimiento de Preselección y Selección de Becarios</h2>

        <div class="portadaAnimate" style="text-align: center; margin-top: 50px">
            <button ng-click="paginaSiguiente()" type="button" class="playAudio btn btn-primary tip" data-placement="top" title="Comenzar"><span
                    class="icon-play3"></span></button>

            <button ng-show="comenzoCurso()" ng-click="irUltimaPaginaVisitada()" type="button" class="playAudio btn btn-primary tip" data-placement="top" title="Continuar"><span
                    class="icon-location"></span></button>
        </div>

        <script>
            $(".playAudio").click(function() {
                document.getElementById("audio").play();
            })
        </script>

    </div>

    <div class="portadaAbajo">
    </div>


</div>

<script>
    $('.tip').tooltip();
    mostrarProgresivamente(".portadaAnimate");
</script>