<h1>{{paginaActual().titulo}}</h1>

<div class="callout callout-default">

    <div class="preguntasFrecuentes">

        <h4>1) ¿Dónde puedo encontrar los modelos de actas?</h4>

        <p>
            En “Herramientas para la selección” del Director en:
            <a href="https://becas.cnea.gov.ar" target="_blank">https://becas.cnea.gov.ar</a> (ingresar usuario y contraseña )
        </p>

        <h4>2) ¿Quién tiene que firmar la nota de conformación del Comité de Preselección y Selección?</h4>

        <p>
            El jefe del Organismo Principal.
            El modelo de nota se puede encontrar en: <a href="http://becas.cnea.gov.ar" target="_blank">https://becas.cnea.gov.ar</a>
            (ingresar usuario y contraseña). <br>

            Para aquellos organismos principales que ya
            cuenten con un comité de Beca formalmente constituido, no es necesario incluir esta nota.

        </p>

        <h4>3) Si tengo sólo un postulante que cumple con los requisitos, ¿Tengo que hacer Tabla de Ponderación?</h4>

        <p>
            No hace falta la tabla de ponderación.
        </p>

        <h4>
            4) ¿Quién es el encargado de poner en conocimiento, al postulante que resulta seleccionado primero según el
            orden de mérito, que CNEA le ofrece la beca?
        </h4>

        <p>
            Únicamente el personal de la Subgerencia Capital Intelectual una vez que ha controlado el correspondiente
            expediente enviado por el director.
        </p>

        <h4>5) ¿Cuál es el procedimiento de notificación al postulante seleccionado?</h4>

        <p>La notificación se realiza a través de un correo electrónico.</p>

        <h4>6) ¿Quién notifica a los postulantes que no fueron seleccionados?</h4>

        <p>El personal de la Subgerencia Capital Intelectual una vez que la beca ha sido otorgada.</p>

        <h4>7) ¿Quién es el máximo responsable de que el postulante se haga el Apto Médico?</h4>

        <p>
            Es el Director quien debe llenar los formularios de Requerimiento Psico-Físico y de Competencias, haciendo
            firmar
            dichos formularios por su jefe de Organismo Principal y por el Gerente de RRHH. También debe llevarlos al
            Servicio
            Médico que corresponda.
            En los sectores donde hay personal de apoyo administrativo pueden realizar estas gestiones pero, el Director
            no
            puede desentenderse del estado de avance de esta tramitación y deberá asegurarse de que finalmente el Apto
            sea
            emitido y recibido en la Subgerencia Capital Intelectual.
        </p>

        <h4>8) ¿Qué documentos tiene que firmar el Comité de Preselección y Selección?</h4>

        <p>
            Cada uno de los integrantes debe colocar su inicial en todas las hojas de las Actas de preselección y
            selección
            y su
            firma en la última hoja de las mismas. Lo mismo vale para la tabla de ponderación si la misma está
            presentada en
            forma separada y no como parte del Acta de preselección.
            En el caso del Plan de Capacitación únicamente debe ser inicialado y firmado de igual manera por el Director
            (y
            Codirector si lo hubiera).
        </p>

        <h4>9) ¿De qué depende la fecha de inicio de la beca otorgada?</h4>

        <p>
            Depende del momento del mes en que llega a la Subgerencia Capital Intelectual el expediente, del
            otorgamiento
            del Apto Médico por parte del Servicio Médico que corresponda y de la emisión del Certificado de
            Antecedentes
            Penales vigente. Tanto el Apto Médico como el citado Certificado son condiciones indispensables para que se
            pueda
            firmar la Disposición de otorgamiento.
            Hay que tener en cuenta que los otorgamientos, según el Reglamento vigente, son el 1ro de mes.
        </p>

        <h4>10) ¿Quiénes participan de las entrevistas?</h4>

        <p>
            El Director, el Codirector si lo hubiera, el jefe inmediato del Director, el representante del jefe de
            Organismo
            Principal designado por nota. En los casos de contar con un comité de becas permanente: el Coordinador de
            dicho
            Comité, el Director y Codirector.
            También pueden participar profesionales de RRHH y psicólogas.
        </p>

        <h4>11) Los seleccionados que viven en el interior ¿pueden hacerse los estudios clínicos en un lugar cercano a
            su
            domicilio?</h4>

        <p>
            En estos casos el Director (o personal de apoyo administrativo) deberán articular con el becario para
            ponerse en
            contacto con IMERASE para resolver cada caso en particular.
        </p>
    </div>

</div>
