<h1>{{paginaActual().titulo}}</h1>

<div class="row callout callout-info">
    <p>
        Hasta aquí, hemos descripto el contenido del expediente en su etapa inicial.
        Recordemos que el expediente contiene el perfil de la beca, el listado de postulantes en sus tres categorías y
        la nota que avala al Comité de Preselección y Selección.
    </p>
</div>

<div class="row callout callout-default">
    <p>
        La siguiente imagen nos muestra, a modo de ruta, cada una de las etapas.
        Encontrará coloreado el momento en que se encuentra según el desarrollo del curso
    </p>

    <div style="text-align: center">
        <h3>
            Ruta del Proceso de preselección y selección
        </h3>
        <button data-target="#modalProceso" data-toggle="modal" class="btn btn-success">
            Ver <span style="line-height: 1" class="icon-arrow-right2"></span>
        </button>
    </div>

</div>


<div style="max-height: 100%" class="modal fade" id="modalProceso">
    <div style="max-width: 900px; width: 100%" class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Proceso de preselección y selección: Etapa de preselección.</h4>
            </div>

            <div class="modal-body with-padding block-inner">
                <img class="img-rounded img-responsive imgCentrada" src="images/content/procesoSeleccion1.png">
            </div>
        </div>

    </div>
</div>
