<h1>{{paginaActual().titulo}}</h1>

<div class="row callout callout-default">

    <p>
        La siguiente imagen nos muestra, a modo de ruta, cada una de las etapas.
        Encontrará coloreado el momento en que se encuentra según el desarrollo del curso
    </p>

    <div style="text-align: center">
        <h3>
            Ruta del Proceso de preselección y selección
        </h3>
        <button data-target="#modalProceso" data-toggle="modal" class="btn btn-success">
            Ver <span style="line-height: 1" class="icon-arrow-right2"></span>
        </button>
    </div>

</div>

<div class="callout callout-info">

    <div class="procesoOtorgamientoAnimate procesoOtorgamientoAnimate bg-primary with-padding block-inner">
        <div class="row">
            <div class="col-xs-1">
                <i class="icono icon-checkmark-circle"></i>
            </div>
            <div class="col-sm-11 col-xs-10">
                Una vez recibido el expediente la Subgerencia Capital Intelectual se comunicará por correo electrónico
                con el postulante para comunicarle el ofrecimiento, solicitando una confirmación de aceptación a enviar
                por correo electrónico, constituyendo el único canal válido formal a tales fines.
            </div>
        </div>
    </div>

    <div class="procesoOtorgamientoAnimate bg-primary with-padding block-inner">
        <div class="row">
            <div class="col-xs-1">
                <i class="icono icon-checkmark-circle"></i>
            </div>
            <div class="col-sm-11 col-xs-10">
                Luego de recibido el correo de aceptación del becario, se le comunica la novedad a el/la Director/a y se
                les enviará a ambos un instructivo con los pasos que deberá seguir cada uno.
            </div>
        </div>
    </div>

    <div class="procesoOtorgamientoAnimate bg-primary with-padding block-inner">
        <div class="row">
            <div class="col-xs-1">
                <i class="icono icon-checkmark-circle"></i>
            </div>
            <div class="col-sm-11 col-xs-10">
                El acto administrativo correspondiente al otorgamiento se elabora una vez que se cuente con el
                Certificado de
                apto médico expedido por IMERASE y el correspondiente certificado de antecedentes penales del futuro
                becario. Sin
                esta documentación no se podrá otorgar ninguna beca.
            </div>
        </div>
    </div>

    <div class="procesoOtorgamientoAnimate bg-primary with-padding block-inner">
        <div class="row">
            <div class="col-xs-1">
                <i class="icono icon-checkmark-circle"></i>
            </div>
            <div class="col-sm-11 col-xs-10">
                Si en dos o más becas se hubiera elegido al mismo candidato como primero en el orden de mérito, se
                analizará
                el tema con los sectores involucrados, propendiendo al mayor y más adecuado cubrimiento de las becas
                en concurso.
            </div>
        </div>
    </div>

</div>

<div class="callout callout-default">
    <h2>¿Cuáles son las tareas de la Subgerencia de Capital Intelectual y del Director/a y/o Sector Técnico
        Administrativo
        correspondiente?</h2>

    <div class="row">

        <div class="col-sm-6">

            <h3 style="text-align: center">Subgerencia Capital <br>Intelectual</h3>
            <ul class="listado listadoWarning">
                <li>Revisar el acta de preselección y de selección</li>

                <li>Avisar al postulante que fue seleccionado</li>


                <li>Pedir fotocopia legalizada del título o certificado de estudio y el Certificado de Antecedentes
                    Penales.
                    Recibir
                    el Apto Médico
                </li>

                <li>Disposición de Otorgamiento</li>
            </ul>
        </div>

        <div class="col-sm-6">

            <h3 style="text-align: center">Director/a y/o Sector Técnico Administrativo </h3>

            <ul class="listado listadoWarning">
                <li>Completar los formularios de apto médico y hacerlos firmar</li>

                <li>Llevarlos al servicio médico que corresponda</li>

                <li>Hacer seguimiento del Apto Médico</li>
            </ul>
        </div>
    </div>

</div>

<script>
    $('.tip').tooltip();
    mostrarProgresivamente(".procesoOtorgamientoAnimate");
</script>

<div class="modal fade" id="modalProceso">
    <div style="max-width: 900px; width: 100%" class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Proceso de preselección y selección:
                    Proceso de otorgamiento.</h4>
            </div>

            <div class="modal-body with-padding block-inner">
                <img class="img-rounded img-responsive imgCentrada" src="images/content/procesoSeleccion4.png">
            </div>
        </div>

    </div>
</div>


