<h1>{{paginaActual().titulo}}</h1>

<div class="callout callout-info">

    <p class="rubro5Animate">Se refiere a la habilidad para llevar adelante conductas que se ponderan como importantes.</p>

    <ul class="listado listadoInfo">
        <li class="rubro5Animate">
            <b>Compromiso:</b> identificación con la institución y con el tema
            de la beca, importancia que le da a las actividades de la beca,
            confidencialidad en el manejo de la información.
        </li>

        <li class="rubro5Animate"><b>Trabajo en equipo:</b> capacidad para establecer relaciones de colaboración, contribuir con las tareas de
            otros, aceptar pautas.
        </li>

        <li class="rubro5Animate"><b>Disposición para el aprendizaje:</b> asertividad, defensa de los propios puntos de vista, apertura a
            preguntas o cuestionamientos, proactividad de propuestas, flexibilidad.
        </li>
    </ul>
</div>

<div name="importante" title="Importante" class="rubro5Animate tip bloqueConIcono row bg-primary with-padding block-inner">

    <div class="col-xs-1">
        <span class="icon-warning icono"></span>
    </div>

    <div class="col-xs-10 col-sm-11">
        <h3>Acerca de las preguntas</h3>

        <p>
            Las preguntas surgen de la situación, de lo que va diciendo el sujeto. Se recomienda comenzar la entrevista
            con preguntas abiertas que le permitan al candidato darse a conocer. El entrevistador irá cubriendo los
            aspectos que falten en el relato teniendo en cuenta todos los rubros.
            Se trata en todo momento de dar lugar a la espontaneidad del sujeto. En este sentido tener en cuenta que las
            preguntas cerradas pueden limitar la posibilidad de expresarse y las preguntas muy divulgadas conducir a
            respuestas repetitivas.
            Al finalizar la entrevista puede darse lugar a que el candidato haga preguntas acerca de lo que le gustaría
            saber de la Institución o de la beca en cuestión.
        </p>
    </div>

</div>

<script>
    $('.tip').tooltip();
    mostrarProgresivamente(".rubro5Animate");
</script>



