<h1>{{paginaActual().titulo}}</h1>

<div class="callout callout-warning">
    Tiene que ver con un aspecto a ser considerado en una situación de selección vinculado
    con el nivel de abstracción, resolución de problemas, autonomía y creatividad. Se trata de
    observar, a partir de los relatos referidos a proyectos y experiencias educativas que el
    candidato ha hecho, diferencias cualitativas en el nivel de complejidad que puede resolver.
</div>

<div class="callout callout-default">

    <h3 class="rubro4Animate">Niveles de complejidad:</h3>

    <div class="bg-info rubro4Animate with-padding block-inner">
        <div class="row">
            <div class="col-xs-1">
                <span class="icono">A</span>
            </div>
            <div class="col-sm-11 col-xs-10">
                <b>Práctico concreto</b> (tareas que implican manejo de variables simples, manejo de datos, tareas
                manuales en contacto directo con un objeto)
            </div>
        </div>
    </div>

    <div class="bg-info rubro4Animate with-padding block-inner">
        <div class="row">
            <div class="col-xs-1">
                <span class="icono">B</span>
            </div>
            <div class="col-sm-11 col-xs-10">
                <b>Imaginativo concreto</b> (tareas que requieren búsqueda de información pertinente e interpretación)
            </div>
        </div>
    </div>

    <div class="bg-info rubro4Animate with-padding block-inner">
        <div class="row">
            <div class="col-xs-1">
                <span class="icono">C</span>
            </div>
            <div class="col-sm-11 col-xs-10">
                <b>Posibilidades de establecer relaciones causales</b>, comenzar el desarrollo de un pensamiento
                científico, capacidad de conceptualización, utilización de teorías para resolver problemas; desarrollo y
                manejo de proyectos
            </div>
        </div>
    </div>

</div>

<script>
    $('.tip').tooltip();
    mostrarProgresivamente(".rubro4Animate");
</script>







