<h1>{{paginaActual().titulo}}</h1>

<div class="callout callout-info">
    La vocación tiene que ver con el interés, el gusto, la preferencia que el individuo tiene por la actividad que
    eligió. Este es un aspecto importante a indagar ya que el supuesto es que cuanto más valore el becario su tarea, más
    posibilidades tiene de aplicar su capacidad y compromiso a pleno.
</div>

<div class="callout callout-success">
    <p>
        Los distintos candidatos pueden demostrar aptitudes distintas vinculadas con la especialidad que eligen, por
        ejemplo, interés por la investigación, lo tecnológico,
        disposición para tareas de laboratorio, intereses teóricos o por actividades creativas, por manejo de números y
        estadísticas, por aspectos administrativos, entre otros como
        así también su disposición frente a la capacitación.
    </p>

    <p>
        Otro aspecto a explorar está dado por las expectativas y aspiraciones de carrera que tienen influencia en la
        trayectoria
        futura del sujeto, lo que se quiere llegar a ser o hacer, la percepción que se tiene del futuro y la capacidad
        para
        transformarlo en hechos.
    </p>
</div>

<div class="callout callout-default">
    <h3 class="rubro3Animate">Es útil conocer:</h3>

    <ul class="listado listadoSuccess">
        <li class="rubro3Animate">Qué le gusta hacer, qué tareas valora y le son afines</li>
        <li class="rubro3Animate">Por qué se interesó en la carrera que sigue</li>
        <li class="rubro3Animate">Aspectos sociales generales, actividades y preferencias no laborales</li>
        <li class="rubro3Animate">Expectativas y aspiraciones ligadas con su formación y desarrollo</li>
        <li class="rubro3Animate">Planes para el futuro</li>
        <li class="rubro3Animate">Cómo y dónde se ve en los próximos años</li>
    </ul>

</div>

<script>
    $('.tip').tooltip();
    mostrarProgresivamente(".rubro3Animate");
</script>
