<h1>{{paginaActual().titulo}}</h1>

<div class="callout callout-info">
    Se trata de dar lugar a la expresión de experiencias o actividades que realizó, incluidas
    aquellas que tuvieron lugar en ámbitos educacionales. El objetivo es conocer cómo se
    desarrolló, las situaciones que atravesó, proyectos en los que se destacó, reconocimientos
    que obtuvo. Todo ello permite inferir aspectos que estarán presentes en las nuevas
    experiencias que el sujeto encare.
</div>


<div class="callout callout-warning">
    <h3 class="rubro2Animate">Los siguientes temas pueden ser objeto de indagación:</h3>

    <ul class="listado listadoWarning">
        <li class="rubro2Animate">Experiencias que realizó</li>
        <li class="rubro2Animate">Dónde y cómo las hizo</li>
        <li class="rubro2Animate">Temas que desarrolló</li>
        <li class="rubro2Animate">Nivel de profundización de los temas</li>
        <li class="rubro2Animate">Tipo de proyectos realizados</li>
        <li class="rubro2Animate">Resultados y reconocimientos obtenidos</li>
        <li class="rubro2Animate">Cambios en la trayectoria, a qué se debieron, en qué momento se produjeron de qué forma los resolvió</li>
    </ul>
</div>

<script>
    $('.tip').tooltip();
    mostrarProgresivamente(".rubro2Animate");
</script>