<h1>{{paginaActual().titulo}}</h1>

<div class="callout callout-success">
    <h3 class="rubro1Animate">Implica la consideración de:</h3>

    <ul class="listado listadoSuccess">
        <li class="rubro1Animate">Nivel de estudios alcanzado</li>
        <li class="rubro1Animate">Instituciones en que cursó sus estudios</li>
        <li class="rubro1Animate">Grado de conocimientos relacionados con el tema de la beca</li>
        <li class="rubro1Animate">Resultados en la carrera</li>
        <li class="rubro1Animate">Respuesta ante desafíos imprevistos</li>
        <li class="rubro1Animate">Consistencia de los conocimientos que maneja</li>
        <li class="rubro1Animate">Materias que le interesaron</li>
        <li class="rubro1Animate">Trabajos escritos, destrezas técnicas</li>
    </ul>

</div>

<div name="importante" title="Importante" class="tip bloqueConIcono row bg-danger with-padding block-inner">

    <div class="col-xs-1">
        <span class="icon-warning icono"></span>
    </div>

    <div class="col-xs-10 col-sm-11">
        <p>
            Se recomienda profundizar con las preguntas acerca de la formación. Es útil indagar dónde y con quiénes se formó,
            cómo le resultó la carrera, afinidad con temas, etc.
        </p>

    </div>

</div>

<script>
    $('.tip').tooltip();
    mostrarProgresivamente(".rubro1Animate");
</script>




