<h1>{{seccionActual().titulo}}</h1>

<div class="callout callout-info">
    Como pudimos ver a lo largo del curso, el procedimiento de preselección y selección de becarios está compuesto
    por tres pasos fundamentales: Preselección, Selección y Armado del expediente.
</div>

<div class="callout callout-warning">
    De este proceso se obtienen los siguientes productos: el Acta de Preselección, que incluye la Tabla de
    Ponderación y el Acta de Selección.
</div>


<div class="callout callout-info">
    Todas las hojas deben estar inicialadas o firmadas por el Comité de Preselección y Selección.
</div>

<div class="callout callout-warning">
    Se debe cuidar el lenguaje utilizado, para que quede claro que la beca es una oportunidad de capacitación
    y no un puesto de trabajo.
</div>

<div class="callout callout-info">
    <h3>Al momento de armar el expediente, el orden debe ser el siguiente:</h3>

    <div class="bg-info with-padding block-inner">
        <div class="row">
            <div class="col-xs-1">
                <span>1</span>
            </div>
            <div class="col-sm-11 col-xs-10">
                Nota de Conformación del Comité de Preselección y Selección
            </div>
        </div>
    </div>

    <div class="bg-info with-padding block-inner">
        <div class="row">
            <div class="col-xs-1">
                <span>2</span>
            </div>
            <div class="col-sm-11 col-xs-10">
                Acta de Preselección con la Tabla de Ponderación
            </div>
        </div>
    </div>

    <div class="bg-info with-padding block-inner">
        <div class="row">
            <div class="col-xs-1">
                <span>3</span>
            </div>
            <div class="col-sm-11 col-xs-10">
                Acta de selección
            </div>
        </div>
    </div>

    <div class="bg-info with-padding block-inner">
        <div class="row">
            <div class="col-xs-1">
                <span>4</span>
            </div>
            <div class="col-sm-11 col-xs-10">
                Plan de capacitación
            </div>
        </div>
    </div>

    <div class="bg-info with-padding block-inner">
        <div class="row">
            <div class="col-xs-1">
                <span>5</span>
            </div>
            <div class="col-sm-11 col-xs-10">
                Nota de giro del Jefe de Organismo Principal a la Gerencia de Planificación, Coordinación y Control
            </div>
        </div>
    </div>
    
</div>

<div class="row callout callout-default">
    <h4>
        Lo invitamos a visualizar el siguiente video de síntesis:
    </h4>

    <div class="center-block video">
        <div class="video embed-responsive embed-responsive-16by9" style="background-color: whitesmoke">
            <video controls>
                <source src="video/Sintesis.mp4" type="video/mp4">
            </video>
        </div>
    </div>

</div>

