<div class="navbar navbar-default customNav" style="height: 110px" role="navigation">

    <div style="padding: 10px">

        <div class="row">

            <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
                <a>
                    <span><img width="214px" height="80px" src="images/logo1.png" alt="CNEA"></span>
                </a>
            </div>

            <div class="hidden-xs col-sm-7 col-md-9 col-lg-9">
                <h1 style="margin-right: 30px; margin-top: 15px; color: darkslategray; text-align: right;">
                    Procedimiento de Preselección y <br> Selección de Becarios
                </h1>
            </div>

            <div class="hidden-lg hidden-md col-sm-1 col-xs-1">
                <button type="button" class="navbar-toggle offcanvas" ng-click="toggleSideMenu()">
                    <span class="icon-paragraph-justify2"></span>
                    <span>Menú</span>
                </button>
            </div>

        </div>

    </div>
</div>